<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="receiveNft()">Full Button</button>
  <nft-preview-list [notifications]="notifications$ | async"></nft-preview-list>
  <indicator [loading]="loading$ | async"></indicator>
</ion-content>
